.section{
  height: 50px;
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
}
.title{
  color: #26a50b;
  flex: auto 0 0;
  width: 160px;
  height: 31px;
  line-height: 31px;
  text-align: right;
  border-bottom: 1px solid #eee;
  padding-right: 10px;
}
.list{
  flex: 1 0 0;
  margin-left: 40px;
}
.item{
  float: left;
  height:30px;
  padding:0 10px;
  line-height: 30px;
  border: 1px solid #ddd;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.on{
  border-color: #5acc42;
  color: #fff;
  background-color: #5acc42;
}